{% extends 'flatpages/default.html' %}
{% load custom_tags %}
{% load custom_filters %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    {% if categories %}
    <h1> {{ title }} ( {{ categories|length }} )</h1>
        <table>
            <tr>
                <td> Наименование категории </td>
                <td> </td>
                <td> Подписка </td>
            </tr>
            {% for cat_id in categories %}
            <tr>
                <td> {{ cat_id.name_cat }} </td>
                <td> <button> <a href="/posts/category/{{cat_id.pk}}"> Перейти к новостям</a> </button> </td>
                <td>
                    {% if request.user.username %}
                        {% if cat_id in cat_user%}
                            <button> <a href="/posts/category/{{cat_id.pk}}/unsubscribe"> Отписаться </a> </button>
                        {% else %}
                            <button> <a href="/posts/category/{{cat_id.pk}}/subscribe"> Подписаться </a> </button>
                        {% endif %}
                    {% else %}
                        <button> <a href="/accounts/login"> Подписаться </a> </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <table align="center">
            <tr> <td align="center">
                {# Добавляем пагинацию на страницу #}

                {# Информация о предыдущих страницах #}
                {% if page_obj.has_previous %}
                    <a href="?{% url_replace page=1 %}">1</a>
                    {% if page_obj.previous_page_number != 1 %}
                        ...
                        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                    {% endif %}
                {% endif %}

                {# Информация о текущей странице #}
                {{ page_obj.number }}

                {# Информация о следующих страницах #}
                {% if page_obj.has_next %}
                    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                    {% if paginator.num_pages != page_obj.next_page_number %}
                        ...
                        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
                    {% endif %}
                {% endif %}
            </td> </tr>
        </table>
    {% else %}
        <h2> Нет категорий! </h2>
    {% endif %}

{% endblock content %}